.getstarted {
  /* border: 2px solid blue; */
  /* text-align: center; */
  background-color: var(--lightpink);
  margin: 2vw;
  border-radius: 10px;
  padding: 3vw;
  display: flex;
  justify-content: space-between;
  /* color: #fff; */
}

.getstarted h1 {
  margin-bottom: 2vw;
}

.getstarted button {
  padding: 15px 40px;
  font-weight: 500;
  /* border-radius: 10px; */
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 2vw;
  border: 0.5px solid #fff;
}

.getstarted button:hover {
  /* background-color: var(--lightpink); */
  /* color: #fff; */
  transform: scale(1.1);
  transition: linear 0.1s;
}
